/*---lbmFont----备注:只考虑移动端*/
@font-face {font-family: "vmfont";
    src:url('../fonts/iconfont.ttf') format('truetype'); 
}

[class^="vb-icon-"], [class*="vb-icon-"]{
font-family:"vmfont" !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
vertical-align: middle;

}

.vb-icon-toRight:before{ content: "\e715"; }