/*创维数字汽车智能仓库管理系统-easyui-皮肤文件*/

/*头部*/
#header {
 background: #468BD8!important;
 border-color: #468bd8!important;
}
/*选项卡标签样式*/
.tabs li.tabs-selected a.tabs-inner {
	background-color: #E2E2E2;
	color: #0E2D5F;
	background: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: -o-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: linear-gradient(to bottom,#ffffff 0,#ffffff 100%); 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff,GradientType=0);
}
.tabs li a.tabs-inner {
	color: #0E2D5F;
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%);
	background: -moz-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%);
	background: -o-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%);
	background: linear-gradient(to bottom,#EFEFEF 0,#EFEFEF 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF,endColorstr=#EFEFEF,GradientType=0);
}
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
border-color: #E2E2E2;
}
/*************panel-header**************/
.panel-header {
	background-color: #E2E2E2;
	/* background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%); */
	background: -moz-linear-gradient(top,#E2E2E2 0,#E2E2E2 100%);
	background: -o-linear-gradient(top,#E2E2E2 0,#E2E2E2 100%);
	/* background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%); */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E2E2E2,endColorstr=#E2E2E2,GradientType=0);
}
/*左侧菜单样式*/
.accordion .accordion-header {
	background: #EFEFEF;
	filter: none;
	border-top: 1px solid #E5E5E5;
}
.accordion .accordion-header-selected {
    background: #E2E2E2;
}

.menuhover {
	border: 0px solid #9dc2fc;
	background: #EFEFEF none repeat scroll 0 0;
	height:20px;
	line-height: 20px;
}
.menu_tab:hover {
border: 0px solid #9dc2fc;
background: #EFEFEF none repeat scroll 0 0;
height: 20px;
line-height: 20px;
cursor: pointer;
}
