/*创维数字汽车智能仓库管理系统-easyui-皮肤文件*/

/*头部*/
#header {
 background: #0273BB!important;
 border-color: #0273BB!important;
}
/*选项卡标签样式*/
.tabs li.tabs-selected a.tabs-inner {
	background-color: #E2E2E2;
	color: #0E2D5F;
	background: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: -o-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: linear-gradient(to bottom,#ffffff 0,#ffffff 100%); 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff,GradientType=0);
}
.tabs li a.tabs-inner {
	color: #0E2D5F;
	background-color: #FFFFFF;
	background: -webkit-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%);
	background: -moz-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%);
	background: -o-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%);
	background: linear-gradient(to bottom,#EFEFEF 0,#EFEFEF 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF,endColorstr=#EFEFEF,GradientType=0);
}
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
border-color: #E2E2E2;
}
/*************panel-header**************/
.panel-header {
	background-color: #E2E2E2;
	/* background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%); */
	background: -moz-linear-gradient(top,#E2E2E2 0,#E2E2E2 100%);
	background: -o-linear-gradient(top,#E2E2E2 0,#E2E2E2 100%);
	/* background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%); */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E2E2E2,endColorstr=#E2E2E2,GradientType=0);
}
/*左侧菜单样式*/
.accordion .accordion-header {
	background: #EFEFEF;
	filter: none;
	border:none;
	border-top: 1px solid #E5E5E5;
}
.accordion .accordion-header-selected {
    background: #E2E2E2;
}

.menuhover {
	border: 0px solid #9dc2fc;
	background: #EFEFEF none repeat scroll 0 0;
	height:20px;
	line-height: 20px;
}
.menu_tab:hover {
border: 0px solid #9dc2fc;
background: #EFEFEF none repeat scroll 0 0;
height: 20px;
line-height: 20px;
cursor: pointer;
}

/*******/
.tabs-header, .tabs-tool {
   background-color: #e2e2e2;
}


.panel-header {
background-color: #E0ECFF;
background: -webkit-linear-gradient(top,#E2E2E2 0,#E2E2E2 100%);
background: -moz-linear-gradient(top,#E2E2E2 0,#E2E2E2 100%);
background: -o-linear-gradient(top,#E2E2E2 0,#E2E2E2 100%);
background: linear-gradient(to bottom,#E2E2E2 0,#E2E2E2 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E2E2E2,endColorstr=#E2E2E2,GradientType=0);
border-color: #E2E2E2;
}
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
border-color: #E2E2E2;
}
.panel-header, .panel-body {
border-color: #E2E2E2;
}
.layout-split-west {
border-right: 5px solid #FFFFFF;
}
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
border-color: #E2E2E2;
border-bottom: 1px solid #FFFFFF;
}

/*********************************************************************************************************/
.l-btn {
background: #fafafa;
background: -webkit-linear-gradient(top,#eeeeee 0,#eeeeee 100%);
background: -moz-linear-gradient(top,#eeeeee 0,#eeeeee 100%);
background: -o-linear-gradient(top,#eeeeee 0,#eeeeee 100%);
background: linear-gradient(to bottom,#eeeeee 0,#eeeeee 100%);
-moz-border-radius: 3px;
-webkit-border-radius:3px;
border-radius: 3px;
}
.l-btn-text {
line-height: 19px;
}
/*******按钮悬停颜色********/
.l-btn:hover {
background: #F6F9FF;
border: 1px solid #5A98FF;
}
/******弹出窗*******************************************************************************/
.window {
background-color: #EFEFEF;
background: -webkit-linear-gradient(top,#EFEFEF 0,#EFEFEF 20%);
background: -moz-linear-gradient(top,#EFEFEF 0,#EFEFEF 20%);
background: -o-linear-gradient(top,#EFEFEF 0,#EFEFEF 20%);
background: linear-gradient(to bottom,#EFEFEF 0,#EFEFEF 20%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF,endColorstr=#EFEFEF,GradientType=0);
}
.window, .window .window-body {
border-color: #E2E2E2;
}
/*********输入框，下拉框**************************************************************************/
input, textarea, select {
border-radius: 2px;
border: 1px solid #e0e3e9;
}
.textbox {
border: 1px solid #DBDBDB;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.combo {
border-color: #DBDBDB;
background-color: #fff;
}
.combo-arrow {
background-color: #E8E8E8;
}

/*********************************************************************************************************/


/*********************************************************************************************************/


/*********************************************************************************************************/


/*********************************************************************************************************/

