
/*****************************************************/
body{border-width: 0!important;}
.bak_td[bgcolor="#d1dedf"]{background:#F4F8FF;height: 32px;
    position: relative;
    line-height: 32px;
    padding-left:28px;}
.bak_td[bgcolor="#d1dedf"]:before{     content:'';
    text-align: center;
    line-height: 20px;
    color: #FFF;
    display: inline-block;
    height: 20px;
    width: 21px;
    position: absolute;
    background: #3998ff;
    top: 5px;
    left: 3px;}
.TitTd{background:#F4F8FF;height: 32px;
    position: relative;
    line-height: 32px;
    padding: 0 4px 0 2px!important;
    padding-left:28px!important;
    color: #0a60ab!important;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
 }
 .TitTd_byhand{background:#F4F8FF;height: 32px;
    position: relative;
    line-height: 32px;
    padding: 0 4px 0 2px!important;
    padding-left:28px!important;
    color: #0a60ab!important;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
 }
 .TitTdNoIndex{background:#F4F8FF;height: 32px;
    line-height: 32px;
    padding: 0 4px 0 2px!important;
    color: #0a60ab!important;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
 }
.TitTd:before{     content:'';
    text-align: center;
    line-height: 20px;
    color: #FFF;
    display: inline-block;
    height: 20px;
    width: 21px;
    position: absolute;
    background: #3998ff;
    top: 5px;
    left: 3px;}
.indexLabek{
    text-align: center;
    line-height: 20px;
    color: #FFF;
    display: inline-block;
    height: 20px;
    width: 21px;
    position: absolute;
    background: #3998ff;
    top: 5px;
    left: 3px;
    z-index:2;
    font-style:normal;
    font-weight: bold;
}
.bgBlue{background:#F4F8FF;}
/*****************************************************/
 class="TitTd" 
 class="labelTd" 
 class="bgBlue"