
/*****************************************************/
table {}
table thead td {font-size: 12px;color: #333333;text-align: center;
border: 1px solid #6495ed; font-weight:bold;}
table tbody tr {background: #fff;font-size: 12px;color: #666666;border-color:#6495ed!important;}
table td{border-color:#85ade4!important;}
td[bgcolor="#d1dedf"]{background:#F4F8FF;}
td[bgcolor="#d1dedf"]:before{content:''; display:inline-block; height:20px; width:20px; background:#0097e5;}
/*****************************************************/
