
/*****************************************************/
body{border-width: 0!important;}
.bak_td[bgcolor="#d1dedf"]{background:#F4F8FF;height: 32px;
    position: relative;
    line-height: 32px;
    padding-left:28px;}
.bak_td[bgcolor="#d1dedf"]:before{     content:'';
    text-align: center;
    line-height: 20px;
    color: #FFF;
    display: inline-block;
    height: 20px;
    width: 21px;
    position: absolute;
    background: #3998ff;
    top: 5px;
    left: 3px;}
.TitTd{background:#F4F8FF;height: 32px;
    position: relative;
    line-height: 32px;
    padding: 0 4px 0 2px!important;
    padding-left:31px!important;
    color: #2f8ef5!important;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
 }
 .TitTd_byhand{background:#F4F8FF;height: 32px;
    position: relative;
    line-height: 32px;
    padding: 0 4px 0 2px!important;
    padding-left:28px!important;
    color: #2f8ef5!important;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
 }
 .TitTdNoIndex{background:#F4F8FF;height: 32px;
    line-height: 32px;
    padding: 0 4px 0 2px!important;
    color: #2f8ef5!important;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
 }
.TitTd:before{     content:'';
    text-align: center;
    line-height: 20px;
    color: #FFF;
    display: inline-block;
    height: 20px;
    width: 21px;
    position: absolute;
    background: #cacaca;
    top: 5px;
    left: 3px;}
.indexLabek{
    text-align: center;
    line-height: 20px;
    color: #FFF;
    display: inline-block;
    height: 20px;
    width: 21px;
    position: absolute;
    background: #cacaca;
    top: 5px;
    left: 3px;
    z-index:2;
    font-style:normal;
    font-weight: bold;
}
.bgBlue{background:#F4F8FF;}
.bgBlue_Tit{
    background: #F4F8FF!important;
    height: 34px!important;
    color: #2f8ef5!important;
}
.labelTd{padding-right: 4px;color: #474a8e!important;}
.td_label{color:#474a8e;}

label[for^='XRadioButtonLi']{vertical-align: middle;}
input[id^='XRadioButtonLi']{vertical-align: middle; margin-top: 0;}
label[for^='XCheckBox']{vertical-align: middle;}
input[id^='XCheckBox']{vertical-align: middle; }
label[for^='ChildCus']{vertical-align: middle;}
input[id^='ChildCus']{vertical-align: middle; }
label[for^='xrdLanguag'],label[for^='xrdUrgen']{vertical-align: middle;}
input[id^='xrdLanguag'],input[id^='xrdUrgen']{vertical-align: middle; margin-top: 0;}
input[type="text" i]:disabled,textarea:disabled{
    background: #f9fafd;
}
.mytable{border: 1px solid #d1d3df;}

#HEADC {
    font-weight: bold!important;
    font-size: 15px!important;
    color: #2f8ef5!important;
    background-color: #f4f8ff!important;
    height: 30px;
    line-height: 30px;
}

input[id='mailBtn']{
  vertical-align: middle;
}

TABLE.AA TR.DataRow TD {
    color: #666;
}
#btnTaskCommentReply{
	background: #2dc3e8;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
}
#TaskCommentCount{color: #666; }
TABLE.AA TR.DataRow {
    BACKGROUND-COLOR: #f5f5f5;
}
TABLE.AA TR.Running TD.NoCell {
    BACKGROUND-COLOR: #f4f8ff;
}
div.attach .item{    
	background: #edf7ed;
    border: 1px solid #c2efc2;
}
td.SignCell:hover {
    color: #258cc1!important;
}
.BOXCSS {
    BORDER-BOTTOM: #bed2f5 1px solid!important;
}
/*****************************************************/
 class="TitTd" 
 class="labelTd" 
 class="bgBlue"
 <span class="indexLabek"></span>
 
 <%@ Register TagPrefix="webxfrom" Namespace="XXSoft.WebControls.Web.UI" Assembly="XXSoft.WebControls" %>
 
 <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
 
 
                     <tr>
                        <WEBXFROM:XSIGNTRACE id="webXSignTrace1" runat="server" CssClass="AA" Width="1246px"></WEBXFROM:XSIGNTRACE>
                    </tr>